# =========================
#     Compiled Objects
# =========================
*.o
*.obj
*.a
*.so
*.dylib
cub3d

# =========================
#     Executables
# =========================
cub3d
a.out

# =========================
#     Build Folders
# =========================
obj/
mlx42/build/
build/
libft/obj/

# =========================
#     	Headers
# =========================
./includes/MLX42.h
./includes/MLX42_Int.h

# =========================
#     CMake Files
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.cmake


*.swp
*.swo
*.tmp
*.log
*.DS_Store
*.vscode/
.idea/
*.code-workspace

# =========================
#     Mac / Linux temp files
# =========================
*~


web/cub3D.js
web/cub3D.wasm
web/cub3D.wasm.data
web/cub3D.wasm.map
web/cub3D.data
web/cub3D.worker.js